body {
  background-color: #EAFFFC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
}

#kitty-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;
}

.selfie-wrapper img {
  width: 100%;
}

#catResult,
.yourEmotion {
  text-align: center;
}

.form-wrapper {
  padding: 15px 0;
}

.breedImg,
.breedName,
.breedDesc,
.yourEmotion,
#selfie {
  padding-bottom: 10px;
}

.form-wrapper {
  width: 100%;
}

#selfiePath {
  display: inline-block;
  width: 75%;
}

#submitButton {
  display: inline-block;
  width: 23%;
}

.kitty-wrapper,
.selfie-wrapper {
  height: 600px;
  max-width: 50%;
}

.main-header { 
  clear: both;
  display: block;
  color: #457B9D;
  text-align: center;
}

.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}

.step-two {
  text-align: center;
}

input[type="submit"],
input[type="url"] {
    border: 3px solid #457B9D;
    font-size: 16px;
    padding: 15px;
    background-color: white;
}

#selfie {
  max-height: 500px;
  overflow: hidden;
}